html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -110px; 
}
.wrapper:after {
  content: "";
  display: block;
  height: 110px;
}
body {
  background: #e2e2e2 url(../images/bg@2X.png) repeat;
  background-size: 41.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #43484c;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
}
strong {
  font-weight: 600;
}
a {
  color: #18a8bc;
  text-decoration: none;
  font-weight: 600;
}
header.jumbotron {
  background: rgba(236, 106, 149, 0.6);
  color: #fff;
  border-bottom: 1px solid #d34976;
  text-align: center;
}
header.jumbotron h1:before {
  content: '';
  display: block;
  width: 75px;
  height: 121px;
  background: url(../images/cupcake.png) no-repeat;
  background-size: cover;
  margin: 0 auto 35px;
}
footer {
  background: rgba(165, 134, 197, 0.6);
  color: #fff;
  border-top: 1px solid #87729d;
  height: 110px;
  text-align: center;
}
footer h2 {
  padding: 0;
  margin: 22px 0 0 0;
}
article .disclaimer {
  color: #a586c5;
  font-weight: 700;
  text-align: center;
}
aside {
  padding-bottom: 20px;
}
aside #map {
  height: 300px;
  -webkit-box-shadow: 0 5px 5px rgba(2,2,2,.15);
  -moz-box-shadow: 0 5px 5px rgba(2,2,2,.15);
  box-shadow: 0 5px 5px rgba(2,2,2,.15);
  border: 1px solid #fff;
  margin-bottom: 10px;
}
aside #directions {
  width: 50%;
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
aside #directions-panel:not(:empty) {
  display: block;
}
aside #directions-panel .adp-placemark {
  background-color: rgba(238, 238, 238, 0.6);
}

.form-control {
  background-color: rgba(255,255,255,0.8);
}


@media screen and (min-width: 768px) {
  header.jumbotron h1:before {
    width: 99px;
    height: 160px;
  }
  aside #directions-panel {
    font-size: 90%;
  }
}
@media screen and (min-width: 992px) {
  aside #map {
    height: 400px;
  }
}
