html, body {
  height: 100%;
}
body {
  background: rgb(126, 213, 212);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 300;
}
h3 {
  margin-top: 10px;
}
strong {
  font-weight: 600;
}
a {
  color: #9274BA;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #9274BA;
}
.container .jumbotron {
  background: rgb(126, 213, 212);
  color: #fff;
  text-align: center;
  padding: 0;
  margin-bottom: 70px;
  margin-top: 30px;
}
.container .jumbotron h1 {
  position: relative;
  padding-left: 85px;
}
.container .jumbotron h1:before {
  content: '';
  width: 108px;
  height: 149px;
  background: transparent url(../images/buho-torta.png);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
article {
  position: relative;
}
article canvas {
  vertical-align: middle;
}
aside {
  padding-bottom: 20px;
}
aside #map-container {
  position: relative;
  padding-top: 132px;
}
#buho-regalos {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -135px;
  width: 270px;
  height: 127px;
  background: transparent url(../images/buho-regalos.png);
  background-size: cover;
}
aside #map {
  color: #979797;
  height: 400px;
  -webkit-box-shadow: 0 5px 5px rgba(2,2,2,.15);
  -moz-box-shadow: 0 5px 5px rgba(2,2,2,.15);
  box-shadow: 0 5px 5px rgba(2,2,2,.15);
  border: 1px solid #fff;
  margin-top: -15px;
  margin-bottom: 10px;
}
aside #directions {
  width: 50%;
  position: absolute;
  z-index: 10;
  top: 126px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
aside #directions-panel:not(:empty) {
  display: block;
}
aside #directions-panel .adp-placemark {
  background-color: rgba(238, 238, 238, 0.6);
}

#buho-globos {
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 93px;
  height: 200px;
  background: transparent url(../images/buho-globos.png);
  background-size: cover;
}

.modal {
  color: #979797;
}
.form-control {
  background-color: rgba(255,255,255,0.8);
}
.modal-footer .alert {
  display: inline-block;
  margin-bottom: 0;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

@media (max-width: 767px) {
  header.jumbotron h1 {
    padding-top: 27px;
  }
}
