html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.5rem;
  background: #ffffff url(../images/bg.jpg) center center;
  background-size: cover;
}

header {
  text-align: center;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shera", cursive;
}

h1 {
  font-size: 5.3rem;
  background: -webkit-linear-gradient(
    rgba(248, 0, 254, 0.89),
    rgba(214, 126, 254, 0.94) 32.35%,
    #9000ff 52.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 7rem;
}

h3 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    rgba(254, 243, 0, 1),
    rgba(255, 114, 0, 1) 45.38%,
    #ff0000 82.35%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.3rem;
}

a {
  color: #5e7e73;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #5e7e73;
  text-decoration: underline;
}

article {
  height: 100%;
}

section {
  background-color: rgba(255, 255, 255, 0.9);
}

aside #map-container {
  position: relative;
}

aside #map {
  color: #979797;
  height: 400px;
  -webkit-box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  -moz-box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  border: 1px solid #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  article,
  main {
    display: flex;
    align-items: center;
  }
}
