@font-face {
  font-family: "Miraculous";
  src: url("../fonts/Miraculous.eot");
  src: url("../fonts/Miraculous.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Miraculous.woff") format("woff");
}

@font-face {
  font-family: "LobsterTwo";
  src: url("../fonts/LobsterTwo-Regular.ttf") format("truetype");
}
