html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.5rem;
  background: #ffffff url(../images/bg.jpg) center center;
  background-size: contain;
}

header {
  text-align: center;
  padding-bottom: 60px;
}

h1 {
  font-size: 5.3rem;
  color: #3c7bb7;
  font-family: "Oliver", sans-serif;
}

h3 {
  font-size: 2.5rem;
  color: #1c1b35;
}

a {
  color: #3c7bb7;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #3c7bb7;
  text-decoration: underline;
}

article {
  height: 100%;
}

section {
  background-color: rgba(255, 255, 255, 0.9);
}

aside #map-container {
  position: relative;
}

aside #map {
  color: #979797;
  height: 400px;
  -webkit-box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  -moz-box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  box-shadow: 0 5px 5px rgba(2, 2, 2, 0.15);
  border: 1px solid #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  article,
  main {
    display: flex;
    align-items: center;
  }
}
